<div class='container'>

  <h1 class="display-5"> About Me </h1>
  <p>
    Hello lovely reader. My name is Bella. I am a recent graduate from the University
    of Colorado Boulder, with a degree in Computer Science. I am passionate about
    software development and love working on web applications. I like developing applications
    related to organization, math, and data analytics. One of my great quests is to get more
    people involved in and excited about STEM education (specifically computer science).
    I've done work with some awesome organizations (<a href="http://wic.cs.colorado.edu">CUWIC</a>
    and <a href="https://www.colorado.edu/bold/">BOLD</a>) through my
    university that you should definitely check out. If you're interested please also
    take a look at my computer science blog, figCS. Outside of school and work, I am
    a dog enthusiast, avid true crime podcast listener, and a beginner level adult.
  </p>

</div>
