<div class='container'>


    <h1 class="display-4">About</h1>
    <hr>

    <p>Hello reader! My name is Bella, thanks for stopping by my site. I am a new grad living in Colorado who loves design, development, and most importantly dogs. As a new grad looking to break into the software industry, I've decided to create this site to help me share some of the projects I've been working on.</p>

    <p>I've spent four years studying Computer Science at university and have been spending my free time learning how to make web applications and building programs that help me stay productive. Making clean, well-designed, object-oriented software is my goal. I primarily code in Python, C++, or Java, and for web frameworks I love Angular, and I'm learning Django.</p>

    <p>Programming is my passion! So naturally, I think everyone should be doing it. I've spent a lot of time working with some amazing organizations, like <a href="http://wic.cs.colorado.edu">CUWIC</a> and <a href="https://www.colorado.edu/bold/">BOLD</a>, that help get people involved in Computer Science and STEM education. Please check them out.</p>

    <p>When I'm not coding I make music, listen to true crime podcasts, and play with my mini-schnauzer, Archibald.</p>

    <p>If you're interested in any of my work, or are interested in collaborating, feel free to reach out!</p>


</div>
