<nav class="navbar navbar-top navbar-toggleable-sm navbar-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarinfo">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarinfo">
    <a class="navbar-brand" href="#">ifigueroa</a>

    <ul class='nav navbar-nav ml-auto text-center'>

      <li class='nav-item'><a routerLink="/home">Home</a></li>

      <li class='nav-item'><a routerLink="/portfolio">Portfolio</a></li>

    </ul>
  </div>


  <!-- the part that gets collapsed when toggled -->
</nav>

<router-outlet></router-outlet>
