<nav class="navbar navbar-sticky-top navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarinfo">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- the part that gets collapsed when toggled -->
  <div class="collapse navbar-collapse" id="navbarinfo">
    <a class="navbar-brand" href="#">ifigueroa</a>

    <ul class='nav navbar-nav ml-auto text-center'>

      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' role='button' data-toggle='dropdown'>Blog</a>
        <div class='dropdown-menu'>
          <a class='dropdown-item' href='#'>Test</a>
        </div>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='#'>About</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='#'>Contact</a>
      </li>

    </ul>

  </div>

</nav>
