<nav class="navbar navbar-top navbar-toggleable-sm navbar-transparent .bg-transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarinfo">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- the part that gets collapsed when toggled -->
  <div class="collapse navbar-collapse" id="navbarinfo">
    <a class="navbar-brand" href="#">ifigueroa</a>

    <ul class='nav navbar-nav ml-auto text-center'>

      <li class='nav-item'>
        <a class='nav-link' href='#'>About</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='#'>Blog</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='#'>Portfolio</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='#'>figCS</a>
      </li>

    </ul>

  </div>

</nav>
