<div class="card">
  <img class="card-img" [src]="item.imagePath" alt="Card image">
  <!-- Card Face -->
  <div *ngIf=main class="card-img-overlay" (click)="toggleDetail()">
    <h2 class="card-text">{{item.name}}</h2>
    <div id="date">
      <h6 class="card-text">{{item.date}}</h6>
    </div>
  </div>

  <!-- Detail Overlay  -->
  <div *ngIf=!main class="card-img-overlay ">

    <div class='card-img-overlay detail-overlay' >
      <!-- Links to Project Info  -->
      <button *ngIf=item.codeLink.length type="button" class="btn btn-sm">
        <a href={{item.codeLink}}>Code</a>
      </button>
      <button *ngIf=item.demoLink.length type="button" class="btn btn-sm">
        <a href={{item.demoLink}}>Demo</a>
      </button>
      <button *ngIf=item.moreInfo.length type="button" class="btn btn-sm">
        <a href={{item.moreInfo}}>More Info</a>
      </button>

      <!-- description  -->
      <div class='container' *ngIf=detail (click)=toggleDetail()>
        {{item.description}}
      </div>
      <!-- Skills  -->
      <div class='container' *ngIf=!detail>
        Skills Learned
        <p><span *ngFor='let skill of item.skills'class="badge badge-pill badge-custom">{{skill}}</span></p>
      </div>
    </div>

    <!-- Skill show/hide button  -->
    <div id='skillButton' *ngIf=item.skills.length>
      <i *ngIf=detail (click)="toggleSkill()"  class="fa fa-chevron-circle-up main-txt-black"></i>
      <i *ngIf=!detail (click)="toggleSkill()"  class="fa fa-chevron-circle-down main-txt-black"></i>
    </div>

  </div>
</div>
