.container {
    width: 100vw;
    height:83vh;
    position: relative;
}
.bg {
  background-image: url('https://images.unsplash.com/photo-1482376297902-a54c222cec2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b054282b3f7a02bdca851ae7f09802cc&auto=format&fit=crop&w=1950&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay {
  background-color:rgba(22, 186, 197,0.1);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.center{
  text-align: center;
  padding-top: 20vh;
}
