
<!-- header -->
<div class="jumbotron bg">
  <h1 class="display-3">ifigueroa</h1>

  <hr class="my-4">
  <p class="lead">Develop. Design. Minimize. Create.</p>
  <p>

  </p>

</div>


<!-- about/introduction section -->
<div class='container'>

  <h1 class="display-5"> About </h1>

  <p class='lead'> whoami </p>
  <p>
    Hello lovely readers. My name is Bella Figueroa. ifigueroa is my online blog and portfolio! Being a new grad I have found myself with a surplus of free time. To fill that time I have created this website to showcase some of the work I've done as a designer and developer. On this site you can also find blog posts and other passion projects I've been working on.

I am a recent graduate from the University of Colorado Boulder, with a degree in Computer Science. I am passionate about software development and love working on web applications. My favorite applications are related to math, data, and analytics. One of my great quests is to get more people involved in and excited about STEM education (specifically computer science). I've done work with some awesome organizations (CUWIC and BOLD) through my university that you should definitely check out. If you're interested please also take a look at my computer science blog, figCS. Outside of school and work, I am a dog enthusiast, avid true crime podcast listener, and a minimalist.

  </p>

</div>
